.photo-grid {
  padding: 92px 48px 0;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;

  @media (width < 1280px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  @media (width < 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 88px 24px 0;
  }

  @media (width < 768px) {
    grid-template-columns: 1fr;
    padding: 64px 16px 0;
  }
}