.cover__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  max-width: 360px;
  text-align: center;
  z-index: 1;

  @media (width < 768px) {
    font-size: 14px;
    max-width: 275px;
  }
}