.footer {
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;

  @media (width < 1024px) {
    padding: 88px 24px 24px;
  }

  @media (width < 768px) {
    padding: 64px 118px 24px 16px;
    flex-direction: column;
    gap: 48px;
  }
}